
.popover {
	display: inline-block;
	position: relative;
    margin-right: 20px;
}
.popover button {
	border: 2px solid #000;
	background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
	border-radius: 4px;
	cursor: pointer;
    padding: 10px 16px;
}
.popover__menu {
	border-radius: 4px;
	border-top: 2px solid #000;
	background: #8bb3f1;
	list-style-type: none;
	margin: 8px 0;
	min-width: 100%;
	padding: 10px 0;
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: 0 2px 3px 0 rgba(63, 63, 68, 0.2);
	
	transition-property: transform, opacity;
	transition-duration: 200ms;
	transition-timing-function: ease;
	
	transform: scale(0.9);
	transform-origin: top left;
	display: block;
	opacity: 0;

	&:after {
		bottom: 100%;
		left: 10px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #000;
		border-width: 7px;
	}
}

.popover__menu-item {
	white-space: nowrap;
	button {
		border: 0;
		border-radius: 0;
		width: 100%;
		text-align: left;
		&:hover,
		&:focus {
			background-color: #f1f1f1;
		}
	}
}

.popover--active .popover__menu {
	transform: scale(1);
	display: block;
	opacity: 1;
}

