
:root{

    --font-family: 'Inter';
    --color: #FFF;
    --color-text: #000;
    --border-color: #ced4da;
    --button-focus: #1b6be9;
    --bg-color: #0085FF;
    --tooltip-color: rgba(55, 55, 55, 1);
    --color-border: 
    --color-primary:
    --color-label:
    --input-border-radius: 
}